*{
  margin: 0;
}

@font-face {
  font-family: ct-bold;
  src: url(assets/CentraThimble-Bold.ttf);
}
@font-face {
  font-family: ct-book;
  src: url(assets/CentraThimble-Book.ttf);
}
@font-face {
  font-family: ct-italic;
  src: url(assets/CentraThimble-BookItalic.ttf);
}


body{
  background-color: white;
}

.nav{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 100px;
  box-shadow: 0 0 1.5rem rgba(0,0,0,.125);
  font-family: ct-book;

}
.logo img{
  width:175px;
}
.nav .element{
  display: inline-flex;
  padding: 10px 15px;
}
.element p{
  padding-left: 20px;
  font-size: 30px;
  margin-top: -15px;
  transform: rotate(90deg);
  color: #00a589;
}
.nav .element:hover{
  cursor: pointer;
}

#login{
  color: #00a589;
  transition: background-color 0.5s ease;
}
#login:hover{
  background-color: #00a589;
  color: white;
}



.container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  background-color: #f5f4f6;
  margin: 30px 30px;
}
.container-content{
  padding-left: 40px;
}

.cc-heading{
  font-family: "ct-bold", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
}

.cc-caption{
  padding-top: 10px;
  font-family: ct-book;
  color: #58595b;
  font-size: 1.25rem;
  line-height: 2em;
  margin-top: -15px;
}

.button-container{
  color: black;
  font-family: ct-italic;
  display: inline-flex;
  justify-content: space-between;

  background-color: #07db7f;
  border-radius: .125rem;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: .25px;
  line-height: 1.5rem;
  margin: 1rem 0;
  padding: 1.25rem 4rem 1rem 2rem;
  text-align: left;
}
.symbol{
  float: right;
  margin-left: 65px;
  margin-top: -5px;
  font-size: 2rem;
  font-weight: 500;
}

a:link{
  text-decoration: none;
}


.thimble-mp4 video{
  height: 25rem;
  width: 25rem;
  padding-right: 80px;
}
